<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Wiki-App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet/less" type="text/css" href="app/main.less" />
</head>

<body ng-controller="MainController as ctrl">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
  <script src="app/app.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

  <div class="container-by-parent" ng-class="{'container-by-parent-mobile': ctrl.isMobileDevice}">
    <div class="container-by-element" ng-class="{'container-by-element-mobile': ctrl.isMobileDevice}"
      ng-repeat="searchBox in resultList">
      <a ng-href={{searchBox.searchTerm}} target="_blank" style="text-decoration: none;color: black;">
        <ul style="list-style: none;">
          <li class="search-heading" ng-class="{'search-heading-mobile': ctrl.isMobileDevice}">{{searchBox.title}}</li>
          <li class="search-description" ng-class="{'search-description-mobile': ctrl.isMobileDevice}">
            {{searchBox.bodyDescription}} <span style="color: blue;">.... read more</span>
          </li>
        </ul>
      </a>
    </div>
  </div>

  <div class="containertwo" ng-class="{'container-two-mobile': ctrl.isMobileDevice}">
    <a class="random-article-div" ng-class="{'random-article-div-mobile': ctrl.isMobileDevice}" target="_blank"
      ng-href="https://en.wikipedia.org/wiki/Special:Random">
      Click here for a random article
    </a>
    <form class="demo-2" ng-class="{'demo-2-mobile': ctrl.isMobileDevice}">
      <input class="input-box" autocomplete="off" type="search" placeholder="{{ctrl.search}}" ng-model="searchInput"
        ng-keyup="$event.keyCode == 13 && ctrl.searchWikipedia()" ng-click="ctrl.setSearchStyle()">
    </form>
    <div class="icon-search-div" ng-class="{active : ctrl.searchEnabled}"> Click icon to search </div>
  </div>



</body>

</html>