<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Wiki-App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet/less" type="text/css" href="app/main.less" />
</head>

<body ng-controller="MainController as ctrl">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
  <script src="app/app.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

  <div class="container-by-parent">
    <div class="container-by-element" ng-repeat="searchBox in resultList">
      <a ng-href={{searchBox.searchTerm}} target="_blank" style="text-decoration: none;color: black;">
        <ul style="list-style: none;">
          <li class="search-heading">{{searchBox.title}}</li>
          <li class="search-description">{{searchBox.bodyDescription}} <span style="color: blue;">.... read more</span>
          </li>
        </ul>
      </a>
    </div>
  </div>

  <div class="containertwo">
    <a class="random-article-div" target="_blank" ng-href="https://en.wikipedia.org/wiki/Special:Random">
      Click here for a random article
    </a>
    <form id="demo-2">
      <input id="input-box" autocomplete="off" type="search" placeholder="{{ctrl.search}}" ng-model="searchInput"
        ng-keyup="$event.keyCode == 13 && ctrl.searchWikipedia()" ng-click="ctrl.setSearchStyle()">
    </form>
    <div class="icon-search-div" ng-class="{active : ctrl.searchEnabled}"> Click icon to search </div>
  </div>



</body>

</html>